@import "../utils/variables";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $footer;
    color: $background;
    padding: 20px;

    h2 {
        margin: 5px 0;
    }

    @include desktop-only {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
        &-box__title {
            order: 5;
        }
        
    }
}

.footer-title {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Shrikhand', cursive;
    display: flex;
}

.footer-box__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-top: 20px;
    @include desktop-only {
        margin-top: 0;
    }

}
.fa-utensils {
    margin-right: 10px;
}

.fa-handshake-angle {
    margin-right: 5px;
}

.footer-mention {
    margin-top: 15px;
    @include desktop-only {
        margin-top: 0;
    }
}

.footer-mail {
    text-decoration: none;
    color: $background;
    margin-top: 15px;
    @include desktop-only {
        margin-top: 0;
    }
}