@import "../utils/variables";

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 1px;
    @include shadow__bottom;  
    @include desktop-only {
        height: 100px;
    }
}

.logo {
    width: 50vw;
    max-width: 200px;
    height: 50px;
    margin: auto;
}



