@import "../utils/variables";
@import "../utils/mixins";

.restau-button {
    margin-top: 10px;
    @include button;
    &:hover {
        filter: brightness(120%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transition: all 350ms ease-in-out;
    }
}

.back-home {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
}

.fa-heart {
    @include heart;
}

.box-new {
    display: flex;
    position: absolute;
    left: 80%;
    top: 5%;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    width: 15%;
    height: 30px;
    font-size: 3vw;
    color: green;
    @include desktop-only {
        font-size: 1vw;
    }
}
