/****color****/
/****other****/
/***************gradiant****/
/****shadow****/
/****circle****/
/****button****/
/****bar****/
/****card****/
/****heart****/
/****desktop****/
/****color****/
/****other****/
/****color****/
/****other****/
* {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: normal;
}

/****color****/
/****other****/
/****color****/
/****other****/
/***************gradiant****/
/****shadow****/
/****circle****/
/****button****/
/****bar****/
/****card****/
/****heart****/
/****desktop****/
.restaurant-button {
  margin-top: 10px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 20px;
  width: 190px;
  height: 40px;
  border: none;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.restaurant-button:hover {
  filter: brightness(120%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 350ms ease-in-out;
}

.back-home {
  margin-left: 15px;
  font-size: 2rem;
  color: black;
}

.fa-heart {
  font-size: 30px;
  margin-left: -40px;
}
@media screen and (min-width: 768px) {
  .fa-heart {
    font-size: 30px;
    margin-left: 10px;
  }
}
.fa-heart.fa-solid {
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.fa-heart:hover {
  opacity: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-new {
  display: flex;
  position: absolute;
  left: 80%;
  top: 5%;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 15%;
  height: 30px;
  font-size: 3vw;
  color: green;
}
@media screen and (min-width: 768px) {
  .box-new {
    font-size: 1vw;
  }
}

/****color****/
/****other****/
/****color****/
/****other****/
/***************gradiant****/
/****shadow****/
/****circle****/
/****button****/
/****bar****/
/****card****/
/****heart****/
/****desktop****/
.main-container {
  width: 100%;
  height: auto;
}

/****color****/
/****other****/
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 1px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  header {
    height: 100px;
  }
}

.logo {
  width: 50vw;
  max-width: 200px;
  height: 50px;
  margin: auto;
}

/****color****/
/****other****/
/****color****/
/****other****/
/***************gradiant****/
/****shadow****/
/****circle****/
/****button****/
/****bar****/
/****card****/
/****heart****/
/****desktop****/
/****loader****/
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  animation: loadout 4s;
  animation-fill-mode: forwards;
}

@keyframes loadout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
.cookies {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}
.cookies .fa-cookie {
  position: absolute;
  font-size: 3rem;
  color: #353535;
}

.loader .fa-cookie:nth-child(1) {
  left: 8px;
  animation: loader1 0.5s infinite;
}

.loader .fa-cookie:nth-child(2) {
  left: 8px;
  padding-left: 30px;
  animation: loader2 0.5s infinite;
}

.loader .fa-cookie:nth-child(3) {
  left: 32px;
  padding-left: 60px;
  animation: loader2 0.5s infinite;
}

.loader .fa-cookie:nth-child(4) {
  left: 56px;
  padding-left: 65px;
  animation: loader3 0.5s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.section-exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.title {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-left: -10px;
  }
}

@media screen and (min-width: 768px) {
  .section-functioning {
    margin: 0px 120px;
  }
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .functioning {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.functioning-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  background-color: #F6F6F6;
  margin: 5px 0;
}
@media screen and (min-width: 768px) {
  .functioning-step {
    width: 30%;
  }
}
.functioning-step .step {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.functioning-step .icon {
  margin: 0 40px;
  font-size: x-large;
}
@media screen and (min-width: 768px) {
  .functioning-step .icon {
    margin: 0 10px;
  }
}
.functioning-step .fa-store {
  color: #9356DC;
}

.section-restaurant {
  background-color: #F6F6F6;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .section-restaurant {
    padding: 10px 120px;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}
.restaurant .link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 15px;
  width: 95%;
  background-color: #FFFFFF;
  height: 270px;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
    margin: 25px 0 25px -10px;
    margin-bottom: 0;
  }
}
.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-left: 10px;
}

.card-home {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .card-home {
    margin-right: 40px;
  }
}

.card-home > .fa-heart {
  position: absolute;
}

/****color****/
/****other****/
/****color****/
/****other****/
/***************gradiant****/
/****shadow****/
/****circle****/
/****button****/
/****bar****/
/****card****/
/****heart****/
/****desktop****/
/****image menu****/
.img-restaurant {
  height: 275px;
}

.img-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .img-restaurant img {
    height: 300px;
  }
}

.title-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .title-fav {
    justify-content: center;
  }
}

.nom-restaurant {
  padding-top: 20px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -30px;
  padding-left: 2%;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 75%;
    margin: auto;
  }
  .menu-content {
    display: flex;
    flex-direction: column;
  }
}

.card-menu {
  border-radius: 15px;
  width: 95%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 10px;
}

.card-menu__starter {
  animation: loading 2s;
}

.card-menu__dish {
  opacity: 0%;
  animation: loading 2s 1s forwards;
}

.card-menu__dessert {
  opacity: 0%;
  animation: loading 2s 2s forwards;
}

@keyframes loading {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu-content {
    margin: auto;
    width: 70%;
  }
}

.title-food {
  font-weight: normal;
  margin-bottom: 5px;
}

.card-title {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  font-size: large;
}

.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.euro {
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 10px;
  width: 10%;
  font-weight: bold;
}

.bloc {
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 350ms ease-in-out;
}

.fa-circle-check {
  width: 0;
  font-size: 1.5rem;
  color: white;
}

.select {
  display: flex;
  width: 0px;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease-in-out;
  background-color: #99e2d0;
}

.card-menu:hover .bloc {
  width: 78%;
}
@media screen and (min-width: 768px) {
  .card-menu:hover .bloc {
    width: 82%;
  }
}

.card-menu:hover .select {
  width: 12%;
}
@media screen and (min-width: 768px) {
  .card-menu:hover .select {
    width: 8%;
  }
}

.card-menu:hover .fa-circle-check {
  display: flex;
  justify-content: center;
}

.restaurant-buttons__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.bar {
  background-color: #99e2d0;
  width: 50px;
  height: 3px;
  margin-bottom: 10px;
}

.card-restaurant > .fa-heart {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .card-restaurant > .fa-heart {
    margin-left: 20px;
    margin-top: -5px;
  }
}

/****color****/
/****other****/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #F6F6F6;
  padding: 20px;
}
.footer h2 {
  margin: 5px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-box__title {
    order: 5;
  }
}

.footer-title {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
  display: flex;
}

.footer-box__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer-box__icon {
    margin-top: 0;
  }
}

.fa-utensils {
  margin-right: 10px;
}

.fa-handshake-angle {
  margin-right: 5px;
}

.footer-mention {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer-mention {
    margin-top: 0;
  }
}

.footer-mail {
  text-decoration: none;
  color: #F6F6F6;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer-mail {
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */