@import "../utils/variables";
@import "../utils/mixins";


// Location 

.location {
    background-color: $backcity;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

// Exploration

.explo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

// Fonctio

.functio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.functio-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    width: 90%;
    height: 70px;
    border-radius: 20px;
    background-color: $background;
    margin: 5px 0;

    .step {
        @include circle;
        margin-left: -10px;
    }
    .icone {
        margin: 0 40px;
        font-size: x-large;
    }
    .fa-store {
        color: $primary;
    }
}


// Restau

.restau {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
    }
}

.card {
    @include card;
    height: 270px;
    margin-bottom: 30px;
    position: relative;

    img {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.card-content {
    display: flex;
    width: 95%;
    padding-left: 10px;
}

.card-home > .fa-heart {
    position: absolute;
    top: 80%;
    left: 90%;
}





