@import "../utils/variables";

.img-restau {
    width: 100%;
    height: 275px;
    border: 2px solid black;
}

.img-restau img {
    width: 100%;
}

.menu {
    width: 100%;
    height: 400px;
    background-color: brown;
}
