@import "variables";


/****circle****/

@mixin circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background-color: linear-gradiant($primary, $secondary);
}